:root {
    --bg-color: #00BF6F;
    --primary-font-color: #fff;
    --star-color: #fc0;
}
body, html {
    height: 100vh;
    margin: 0;
}
body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-font-color);
}
header > p {
    margin-top: 0;
    text-align: center;
}
#survey-form {
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
    padding: 2%;
}
#survey-form > *:not(:last-child) {
    margin-bottom: 2%;
}
.form-group {
    display: flex;
}
.form-group > input {
    width: 50%;
    padding: 1%;
}
.form-group > label {
    width: 30%;
}
.option-group {
    display: flex;
    flex-direction: column;
}
.option-group > select {
    padding: 1%;
}
#other-comments {
    flex: 1 100%;
    min-height: 120px;
}
#survey-form > button {
    background-color: var(--bg-color);
    color: var(--primary-font-color);
    flex: 1 100%;
    padding: 1% 0;
    border: none;
}
#rating-container > p {
    margin-bottom: 0;
}
#food-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
#food-rating > label {
    filter: grayscale(1);
    color: var(--star-color);
    transition: all .1s ease-in;
}
#experience-rating > label {
    filter: grayscale(1);
    display: inline-block;
    transition: all .1s ease-in;
}
#food-rating > input,
#experience-rating > input {
    display: none;
}
#food-rating > input:hover ~ label,
#food-rating > input:checked ~ label,
#experience-rating > input:hover + label,
#experience-rating > input:checked + label {
    filter: grayscale(0);
}
#food-rating > input:checked + label,
#experience-rating > input:checked + label {
    transform: scale(1.5);
}
.check-container {
    flex: 1 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.check-group {
    flex-grow: 1;
}
footer {
    align-self: center;
}
@media (min-width: 360px) {
    header > p, 
    #survey-form,
    #other-comments, 
    #survey-form > button,
    footer {
        font-size: medium;
    }
    #food-rating > label {
        font-size: 35px;
        letter-spacing: 20px;
    }
    #experience-rating > label {
        font-size: 25px;
        letter-spacing: 15px;
    }
    #survey-form {
        margin: 0 8%;
    }
    .form-group {
        flex: 1 100%;
    }
    .option-group {
        flex: 1 100%;
    }
    .option-group > select {
        width: 100%;
    }
    .check-container  > p {
        flex: 1 100%;
    }
    footer {
        margin-top: 2%
    }
}
@media (min-width: 720px) {
    header > p, 
    #survey-form,
    #other-comments, 
    #survey-form > button,
    footer {
        font-size: large;
    }
    #food-rating > label {
        font-size: 40px;
        letter-spacing: 25px;
    }
    #experience-rating > label {
        font-size: 30px;
        letter-spacing: 20px;
    }
    #survey-form {
        margin: 0 15%;
    }
    .form-group {
        flex: 1 50%;
    }
    .option-group > select {
        width: 50%;
    }
}
@media (min-width: 1080px) {
    #survey-form {
        margin: 0 18%;
    }
    .option-group {
        flex: 1 50%;
    }
    .option-group > select {
        width: 100%;
    }
    .check-container  > p {
        flex: 1 50%;
    }
    .check-group {
        align-self: center;
    }
}