:root {
    --nav-link-color: #0250BB;
    --card-shadow-color: rgba(0, 0, 0, 0.25);
    --page-background-color: #fff;
}
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
p, input, a {
    font-size: medium;
}
strong {
    font-size: large;
}
h1 {
    font-size: x-large;
}
#header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--page-background-color);
}
.nav-link, #submit {
    text-decoration: none;
    padding: 5px 20px;
    border: 2px solid var(--nav-link-color);
    border-radius: 5px;
    color: var(--nav-link-color);
}
#main {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}
#main > *, footer {
    margin-top: 3rem;
}
#pre-content {
    align-self: center;
}
.card-layout {
    box-shadow: 0 5px 10px 2px var(--card-shadow-color);
    border-radius: 10px;
    padding: 2rem;
}
#features {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.feature-group {
    flex: 1 50%;
    display: flex;
}
.feature-group:nth-child(n+3) {
    margin-top: 20px;
}
.feature-group > img {
    margin-right: 20px;
}
#editions {
    display: flex;
    padding-bottom: 2rem;
}
.edition-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#video {
    align-self: center;
    width: 300px;
    height: 170px;
}
#newsletter-signup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#features, #editions, #newsletter-signup {
    padding-top: 3rem;
}
#form {
    flex-basis: 50%;
}
#email, #submit {
    padding: 8px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
footer > p:first-child {
    margin: 0;
}
@media (hover: hover) {
    .nav-link:hover, #submit:hover {
        background-color: var(--nav-link-color);
        color: #fff;
    }
}
@media(min-width: 360px) {
    #header {
        flex-direction: column;
        height: 85px;
    }
    #nav-bar {
        margin-top: 10px;
    }
    .feature-group {
        flex-direction: column;
    }
    #editions {
        flex-wrap: wrap;
    }
    .edition-group {
        flex: 1 50%;
    }
    #newsletter-signup {
        flex-direction: column;
    }
    #email {
        width: 90%;
        margin-bottom: 1vw;
        margin-right: 1vw;
    }
}
@media(min-width: 720px) {
    p, input, a {
        font-size: large;
    }
    strong {
        font-size: x-large;
    }
    h1 {
        font-size: xx-large;
    }
    #header {
        flex-direction: row;
        height: auto;
        justify-content: space-between;
    }
    #nav-bar {
        margin-top: 0;
    }
    #nav-bar > .nav-link {
        margin-right: 15px;
    }
    #main {
        margin: 0 10%;
    }
    .feature-group {
        flex-direction: row;
    }
    #video {
        width: 540px;
        height: 305px;
    }
    #newsletter-signup {
        flex-direction: row;
    }
    #newsletter-signup > p {
        text-align: center;
    }
    #newsletter-signup.card-layout {
        padding: 2rem 1rem;
    }
}
@media(min-width: 940px) {
    #editions {
        flex-wrap: nowrap;
    }
    .edition-group {
        flex: 1 25%;
    }
    .edition-group:not(:last-child) {
        margin-right: 10px;
    }
}
@media(min-width: 1080px) {
    #email {
        width: 60%;
        margin-bottom: auto;
    }
}